[user]
	email = rgeorgiev583@gmail.com
	name = Radoslav Georgiev
[credential]
	helper = store
[rerere]
	enabled = true
[core]
	pager = delta --dark
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = nvim -d $LOCAL $REMOTE
[difftool "vscodium"]
	cmd = codium --wait --diff $LOCAL $REMOTE
[merge]
	conflictstyle = diff3
	tool = nvim_mergetool
[mergetool "nvim_mergetool"]
	cmd = nvim -c "MergetoolStart" "$MERGED" "$BASE" "$LOCAL" "$REMOTE"
	trustExitCode = true
[mergetool "vscodium"]
	cmd = codium --wait $MERGED
[submodule]
	fetchJobs = 0
