[user]
	email = rgeorgiev583@gmail.com
	name = Radoslav Georgiev
[credential]
	helper = store
[difftool "code"]
	cmd = code -wd $LOCAL $REMOTE
[difftool "nvimdiff"]
	cmd = nvim -d $LOCAL $REMOTE
[merge]
	conflictstyle = diff3
[rerere]
	enabled = true
