[user]
	email = rgeorgiev583@gmail.com
	name = Radoslav Georgiev
[credential]
	helper = store
[rerere]
	enabled = true
[core]
	pager = delta --dark
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = nvim -d $LOCAL $REMOTE
[difftool "vscodium"]
	cmd = codium -wd $LOCAL $REMOTE
[merge]
	conflictstyle = diff3
[submodule]
	fetchJobs = 0
