[user]
	name = Radoslav Georgiev
	email = radoslav.georgiev@securax.org
[core]
	safecrlf = warn
	whitespace = cr-at-eol
[diff]
	compactionHeuristic = true
[rerere]
	enabled = true
[credential]
	helper = store
