[user]
	name = Radoslav Georgiev
	email = radoslav.georgiev@securax.org
[credential]
	helper = store
[difftool "code"]
	cmd = code -wd $LOCAL $REMOTE
[difftool "nvimdiff"]
	cmd = nvim -d $LOCAL $REMOTE
[merge]
	conflictstyle = diff3
[rerere]
	enabled = true
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	safecrlf = warn
	whitespace = cr-at-eol
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
